useDynLib(hSDM)
import(coda)

export(hSDM.binomial,
       hSDM.binomial.iCAR,
       hSDM.ZIB,
       hSDM.ZIB.iCAR,
       hSDM.ZIB.iCAR.alteration,
       hSDM.poisson,
       hSDM.poisson.iCAR,
       hSDM.Nmixture,
       hSDM.Nmixture.iCAR,
       hSDM.hierarchical.poisson,
       inv.logit,
       logit)

