useDynLib(hSDM, .registration=TRUE)

import(coda)
importFrom("stats", "model.frame", "model.matrix", "quantile")

S3method(predict,hSDM)

export(hSDM.binomial,
       hSDM.binomial.iCAR,
       hSDM.ZIB,
       hSDM.ZIB.iCAR,
       hSDM.ZIB.iCAR.alteration,
       hSDM.siteocc,
       hSDM.siteocc.iCAR,
       hSDM.poisson,
       hSDM.poisson.iCAR,
       hSDM.ZIP,
       hSDM.ZIP.iCAR,
       hSDM.ZIP.iCAR.alteration,
       hSDM.Nmixture,
       hSDM.Nmixture.K,
       hSDM.Nmixture.iCAR,
       inv.logit,
       logit)
