useDynLib(hSDM)
import(coda)

export(hSDM.binomial,
       hSDM.binomial.iCAR,
       hSDM.site.occupancy,
       hSDM.site.occupancy.iCAR,
       hSDM.hierarchical.binomial,
       hSDM.poisson,
       hSDM.poisson.iCAR,
       hSDM.Nmixture,
       hSDM.Nmixture.iCAR,
       hSDM.hierarchical.poisson,
       inv.logit,
       logit)

